
@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--second-font);
        --h4: normal 600 20px/1.2 var(--second-font);
        --h5: normal 600 18px/1.2 var(--second-font);
        --h6: normal 600 16px/1.2 var(--second-font);
    }

    /* form nine css */
    .form-one .form-wrapper .form-left,
    .form-one .form-right {
        padding: 15px;
    }
        /* table-responsive */
        .cartTable-responsive {
            overflow-x: scroll;
        }
}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--second-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .appointment-sec .tabs {
        gap: 15px;
    }

    /* form nine css */
    .form-one .appointment-sec .tabs li {
        font-size: 12px;
    }

    .form-one .appointment-sec .tabs li span {
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 20px;
    }

    .payment-method-form .radio-group label .radio-img {
        max-width: 30px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }

    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }

    /* form nine css */
    .form-one .form-wrapper .form-left .section-title {
        max-width: 100%;
        text-align: center;
    }

    .form-one .appointment-sec .tabs {
        justify-content: center;
    }

    .form-one .appointment-sec .appointment-wrp {
        min-height: 355px;
    }

    .form-one .appointment-sec .steps ul li .steps-icon {
        height: 35px;
        width: 35px;
    }

    .form-one .appointment-sec .steps ul li .steps-icon svg {
        height: 18px;
        width: 18px;
    }

    .form-one .form-right {
        padding: 30px 15px 15px;
    }

    .form-one .form-wrapper .form-left .bg {
        display: none;
    }
    .form-one .form-wrapper .form-left {
        border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -ms-border-radius: 20px 20px 0 0;
        -o-border-radius: 20px 20px 0 0;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--second-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }

    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    /* form nine css */
    .form-one .appointment-sec .steps {
        margin-bottom: 20px;
    }

    .form-one .appointment-sec .steps ul {
        align-items: baseline;
    }

    .form-one .appointment-sec .steps ul li,
    .form-one .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
        font-size: 12px;
    }

    .form-one .appointment-sec .tabs {
        gap: 10px;
        align-items: baseline;
    }

    .form-one .appointment-sec .tabs li a {
        flex-direction: column;
        gap: 5px;
    }

    .form-one .appointment-sec .appointment-wrp {
        min-height: 390px;
    }
}