@media screen and (max-width: 1260px) {
    .from-col-inner-area {
        padding: 35px 50px 35px 45px;
    }

}
@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--second-font);
        --h4: normal 600 20px/1.2 var(--second-font);
        --h5: normal 600 18px/1.2 var(--second-font);
        --h6: normal 600 16px/1.2 var(--second-font);
    }

    /* form-one css */
    /* .form-one .form-left-banner {
        max-width: 100px;
    } */

    .form-one .form-left-banner img {
        right: -36px;
    }

    .form-one .appointment-sec .check-box-div li {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .from-col-inner-area {
        padding: 35px 0 35px 30px;
        max-width: 100%;
    }

    /* --- 11-6-2024 --- */
    .form-one .form-left-banner {
        max-width: 100%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .form-one .form-left-banner h1 {
        writing-mode: unset;
        transform: rotate(0);
        -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    .form-one .form-left-banner img {
        display: none;
    }
    .form-one .offset-right {
        padding: 0 15px;
    }
    
    .form-one .appointment-sec {
        padding: 40px 0;
    }
}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--second-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .appointment-sec .tabs {
        gap: 15px;
    }

    /* form six css */
    .form-one .steps ul li:not(:last-of-type) {
        padding-right: 110px;
    }

    .form-one .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .form-one .appointment-sec .appointment-wrp {
        min-height: 450px;
    }
    .form-one .steps{
        padding: 80px 0 0 37px;
    }
    .form-one .steps ul li .tooltip{
        max-width: 100px;
    }
    .payment-method-form .row{
        row-gap: 15px;
    }
    .form-one .steps ul li span{
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 20px;
    }

    .payment-method-form .radio-group label .radio-img {
        max-width: 30px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }

    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }

    /* form six css */
 

    .form-one .form-inner .section-title {
        display: none;
    }


  
    .from-col-inner-area {
        padding: 30px 0 0;
    }
    .form-one .steps {
        margin-bottom: 20px;
    }

    .form-one .steps ul {
       max-width: 100%;
    }

    .form-one .form-box {
        padding: 15px;
    }

    .form-one .appointment-sec .tabs li a {
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 0 0 10px;
        border-bottom: 1px solid transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .form-one .appointment-sec .tabs li.active a {
        background: transparent;
        color: var(--theme-color);
        border-bottom: 1px solid var(--theme-color);
    }

    .form-one .appointment-sec .tabs {
        border-bottom: 1px solid var(--border-color);
        justify-content: center;
    }

    .form-one .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--second-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }

    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }
    /* form six css */
    .form-one .form-left-banner h1 {
        font-size: 22px;
    }

    .form-one .appointment-sec .tabs li a {
        font-size: 12px;
        padding: 0 0 5px;
    }

    .form-one .appointment-sec .tabs {
        gap: 5px;
    }

    .form-one .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

}