@media screen and (max-width: 1600px) {

    /***** form seven css *******/
    .form-seven .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

}

@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--first-font);
        --h4: normal 600 20px/1.2 var(--first-font);
        --h5: normal 600 18px/1.2 var(--first-font);
        --h6: normal 600 16px/1.2 var(--first-font);
    }

    /* form eight css */
    .form-one .steps ul {
        gap: 20px;
    }

    .form-one .appointment-sec .form-steps-left {
        padding: 20px;
    }
}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--first-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .appointment-sec .tabs {
        gap: 15px;
    }

    /* form eight css */
    .form-one .appointment-sec .tabs li {
        font-size: 12px;
    }

    .form-one .appointment-sec .tabs li span {
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 20px;
    }

    .payment-method-form .radio-group label .radio-img {
        max-width: 30px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }

    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }

    /* form eight css */
    .form-one .appointment-sec .myContainer {
        margin-top: 20px;
    }

    .form-one .appointment-sec .section-title {
        margin-bottom: 20px;
    }

    .form-one .steps ul {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .form-one .appointment-sec .tabs {
        justify-content: center;
    }

    .form-one .steps ul li {
        width: auto;
        padding: 8px;
    }

    .form-one .appointment-sec .form-steps-left {
        padding: 15px;
    }

    .form-one .steps ul li svg {
        height: 20px;
        width: 20px;
    }

    .form-one .appointment-sec .myContainer,
    .form-one .appointment-sec .myContainer .step-container {
        height: auto;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--first-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }

    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    /* form eight css */
    .form-one .steps ul {
        align-items: baseline;
    }

    .form-one .steps ul li {
        background-color: transparent;
        box-shadow: none;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        font-size: 12px;
        flex: 1;
        text-align: center;
    }

    .form-one .steps ul li.active {
        background-color: transparent;
        color: var(--theme-color);
    }

    .form-one .appointment-sec .tabs {
        gap: 5px;
        align-items: baseline;
    }

    .form-one .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
    }

    .form-one .appointment-sec .tabs li a {
        flex-direction: column;
    }

    .form-one .steps ul li.active svg path {
        fill: var(--theme-color);
        stroke: var(--white);
    }
}