@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--first-font);
        --h4: normal 600 20px/1.2 var(--first-font);
        --h5: normal 600 18px/1.2 var(--first-font);
        --h6: normal 600 16px/1.2 var(--first-font);
    }

    /******  form three css *******/
    .form-one .form-box {
        padding: 30px;
    }

    .form-one .form-box {
        max-width: 85%;
    }
}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--first-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }
    .appointment-sec .tabs {
        gap: 15px;
    }

    /* form three css */
    .form-one .form-box {
        max-width: 100%;
    }

    .form-one .form-box .steps li {
        width: auto;
        padding: 10px 15px;
    }

    .form-one .appointment-sec .form-box .appointment-wrp {
        padding: 40px 0 0 0;
        min-height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 20px;
    }

    .payment-method-form .radio-group label .radio-img {
        max-width: 30px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }
    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }
    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }

    /* form three css */
    .form-one .appointment-sec .form-box .appointment-wrp {
        padding: 30px 0 0 0;
    }

    .form-one .form-box {
        padding: 15px;
    }

    .form-one .form-box .steps ul {
        gap: 10px;
    }

    .form-one .appointment-wrp.tab-wrp .tabs li a {
        font-size: 14px;
    }

    .form-one .form-box .steps li span {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--first-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }
    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    /***********  form three css  **********/
    .form-one .appointment-wrp.tab-wrp .tabs li a {
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
        text-align: center;
    }

    .form-one .appointment-wrp.tab-wrp .tabs li a span {
        width: 25px;
        height: 25px;
    }

    .form-one .appointment-wrp.tab-wrp .tabs {
        justify-content: center;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .form-one .form-box .steps li {
        padding: 0;
        color: var(--text-color);
        background: transparent;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        font-size: 12px;
    }

    .form-one .form-box .steps li.active {
        background: transparent;
        color: var(--theme-color);
        border-bottom: 1px solid var(--theme-color);
    }
}