@media (hover: hover) {

    .site-footer .footer-social-icon li a:hover,
    .site-footer .footer-bottom .footer-bottom-inner p a:hover {
        opacity: 0.6;
    }

}

@media screen and (min-width: 768px) {
    .site-footer .footer-col .footer-widget .acnav-label1 svg,
    .site-header .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .mobile-only {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {

    /* contact-right-inner */

    .contact-right-bottom ul li p {
        font: normal 400 18px/1.2 var(--first-font);
    }

}

@media screen and (max-width: 1199px) {

    :root {
        --h1: normal 500 40px/1.1 var(--second-font);
        --h2: normal 500 32px/1.1 var(--second-font);
        --h3: normal 400 24px/1.1 var(--second-font);
        --h4: normal 400 20px/1.1 var(--first-font);
        --h5: normal 500 18px/1.1 var(--first-font);
        --h6: normal 500 16px/1.1 var(--first-font);
        --common-text: normal 400 16px/1.2 var(--first-font);
    }

    .section-title {
        margin-bottom: 25px;
    }

    .appointment-sec .check-box-div li {
        max-width: 25%;
        flex: 0 0 25%;
    }

    /* contact-sec */

    .contact-sec .contact-left,
    .contact-sec .contact-right {
        max-width: 270px;
    }

    /* footer */

    .site-footer .footer-wrapper {
        padding: 60px 0;
    }

    .site-footer .footer-logo a {
        max-width: 120px;
    }

    .footer-wrapper .footer-left {
        max-width: 380px;
    }

    .site-footer .footer-right {
        max-width: calc(100% - 400px);
    }

    .site-footer .footer-col:not(:first-child) {
        padding-right: 25px;
    }

    .site-footer .footer-col h2 {
        font-size: 20px;
    }

    .footer-wrapper .footer-left p,
    .site-footer .footer-widget ul li a,
    .site-footer .footer-widget ul li p,
    .footer-bottom p,
    .article-content-bottom a {
        font-size: 16px;
    }

}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 500 34px/1.1 var(--second-font);
        --h2: normal 500 28px/1.1 var(--second-font);
        --h3: normal 400 22px/1.1 var(--second-font);
    }

    .desk-only {
        display: none !important;
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    /* header */
    .site-header .menu-item-right .contact-btn a {
        font-size: 0px;
        display: inline-block;
        padding: 8px 15px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}

    .site-header .menu-item-right svg {
        display: block;
        height: 20px;
        width: 20px;
    }

    .site-header .menu-item-right svg path{
        fill: var(--white);
    }
    .site-header .main-navigationbar .logo-col {
        max-width: 90px;
    }
    .site-header .mobile-menu {
        display: block;
    }
    /*** mobile menu ***/
    .main-nav {
        position: relative;
        width: 100%;
        height: 100%;
        background: var(--second-color);
        color: var(--black);
        border-top: 1px solid var(--black);
        z-index: 2;
        flex-direction: column;
    }

    .site-header .main-navigationbar .menu-items-col .main-nav>li {
        width: 100%;
        padding: 10px 15px;
    }
    .site-header .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
        padding-left: 15px;
        border-bottom: 1px solid var(--border-color);
    }
    .menu-item-left.open {
        display: block;
        order: 3;
        width: calc(100% + 30px);
        height: 100%;
        margin: 15px -15px 0;
    }
    .site-header .main-navigationbar .menu-items-col .main-nav>li a {
        width: 100%;
    }
    .site-header.fixed .sticky-header {
        position: relative;
    }
    /* footer */

    .site-footer .footer-wrapper {
        padding: 40px 0;
    }

    .footer-wrapper .footer-left {
        max-width: 100%;
    }

    .site-footer .footer-logo {
        text-align: center;
    }

    .site-footer .footer-right {
        max-width: 100%;
        margin: 40px 0 0 0;
    }

    .site-footer .footer-col:not(:first-child) {
        padding-right: 20px;
    }
    /* appointment-sec */
    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }
    .appointment-sec .step-btns {
        justify-content: center;
    }
    /* Home banner */
    .home-banner-sec .bnr-img {
        display: none;
    }

    /* contact-sec */

    .contact-sec .contact-left,
    .contact-sec .contact-right {
       display: none;
    }

    .contact-sec .contact-content h2,
     .contact-sec .contact-content .appoint-contact,
      .contact-sec .contact-content p {
        margin-bottom: 15px;
    }
    .contact-sec .contact-content .appoint-contact{
        font-size: 20px;
    }
    /* About us */
    .car-about-sec .car-about-left-wrp {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .car-about-sec .design-1,
    .car-about-sec .design-2{
        display: none;
    }
    /* testimonial */

    .arrow-wrapper {
        margin: 30px 0 0 0;
    }

    .testimonial-sec h2 {
        font-size: 50px;
        top: 20px;
        right: 50%;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
}

    .testimonial-sec {
        padding: 90px 0px 50px;
    }

      /* service-category */

      .service-category-sec .service-category img {
          max-width: 55px;
      }

    .car-service-sec .service-card-content {
        padding: 12px 25px;
    }
    /* article */
    .article-content{
        max-width: 100%;
    }
    .article-card-inner .article-card-image {
        padding: 15px;
    }
    /* contact-us */
    .contact-us .contact-form .form-container {
        padding: 20px;
    }

    .contact-left-inner .form-container .form-control {
        border-radius: 20px;
        padding: 10px 15px;
    }

    .contact-us .contact-us-wrapper{
        flex-wrap: wrap;
        gap: 15px;
    }
    .contact-right-inner{
        margin: 0 15px;
    }
    .contact-us .contact-left-inner,
    .contact-us .contact-form .form-container{
        max-width: 100%;
    }
    /* contact-direction-sec */

    .contact-direction-sec {
        margin: 40px 0 70px;
    }
    .menu-item-left{
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .btn {
        padding: 10px 15px;
    }
    /* footer */
    .site-footer .footer-wrapper {
        padding: 40px 0 20px;
    }

    .site-footer .footer-logo {
        padding-bottom: 20px;
    }

    .site-footer .footer-right {
        margin: 30px 0 0 0;
    }

    .site-footer .footer-col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .site-footer .footer-col .footer-widget .acnav-label1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 10px;
        font-size: 18px;
    }

    .site-footer .footer-col .footer-widget .acnav-label1 span {
        flex: 1;
        display: block;
        font-weight: 500;
    }


    .site-footer .footer-col .acnav-label1 svg {
        height: 11px;
        width: 11px;
        transition: all 500ms ease-in-out 0s;
        -webkit-transition: all 500ms ease-in-out 0s;
        -moz-transition: all 500ms ease-in-out 0s;
        -ms-transition: all 500ms ease-in-out 0s;
        -o-transition: all 500ms ease-in-out 0s;
    }

    .site-footer .footer-col .footer-widget .acnav-label1 svg path {
        fill: var(--white);
    }

    .site-footer .footer-col .is-open.acnav-label1>svg {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }

    .menu-item-left, .footer-row .acnav-list1,
    .site-footer .footer-col h2:after {
        display: none;
    }

    .footer-row .acnav-list1 {
        margin: 10px 0;
        padding: 0 0 12px 0;
    }

    .site-footer .footer-col:not(:first-child) {
        padding: 0;
    }
    /* home banner slider */
    .home-banner-sec .arrow-button{
        bottom: 40px;
    }
    /* about us sec */
    .car-about-sec .photo-about-dtl{
        margin-bottom: 15px;
    }
    /* appointment-sec */
    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0px 0px 10px 10px;
    }

    .appointment-sec .appointment-wrp{
        padding: 15px;
    }

    .appointment-sec .steps{
        margin-bottom: 25px;

    }
    .appointment-sec .tabs li a{
        font-size: 14px;
    }
    .steps ul li::after {
        display: none;
    }

    .steps ul li:not(:last-of-type) {
        padding-left: 20px;
    }

    .steps ul li{
        font-size: 14px;
    }
    /* service-category */
    .service-category-sec .service-category img,
    .service-category-sec .service-category h3,
    .service-category-sec .service-category p {
        margin-bottom: 15px;
    }
    .service-category-sec .service-category{
        padding: 15px 0px;
    }
    /* car-banner */
    .car-banner-sec .car-banner-title{
        flex-direction: column;
        gap: 15px;
    }
    .working-hrs-wrp ul{
        justify-content: unset;
        gap: 10px;
    }
    .working-hrs-wrp ul li {
        max-width: calc(33.33% - 10px);
        width: 100%;
    }
    .car-banner-sec .car-banner-time{
        margin-left: 0;
    }
    /*  car-service-sec */
    .car-service-sec .service-card-content span {
        font-size: 16px;
    }
    /* testimonial-sec */

    .testimonial-sec {
        padding: 50px 0 30px;
    }
    .testimonial-sec h2{
        font-size: 0px;
    }
    .arrow-wrapper {
        margin: 30px auto 0;
    }
    /* article */
    .article-card-inner {
        flex-direction: column;
        text-align: center;
        border-radius: 40px;
    }
    /* contact sec */
    .contact-us .contact-form .form-container {
        padding: 15px;
    }
    /* contact-direction-sec */
    .contact-direction-sec {
        margin: 30px 0 50px;
    }

    .contact-direction-sec .contact-direction-inner iframe {
        height: 300px;
    }

}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 500 32px/1.1 var(--second-font);
        --h2: normal 500 24px/1.1 var(--second-font);
        --h3: normal 400 20px/1.1 var(--second-font);
        --h4: normal 400 28px/1.1 var(--first-font);
        --h5: normal 500 16px/1.1 var(--first-font);
        --common-text: normal 400 14px/1.2 var(--first-font);
    }

    .section-title h2 {
        margin-bottom: 15px;
    }

    .swiper-button-prev svg, .swiper-button-next svg{
       height: 25px;
       width: 25px;
    }
    /* footer */

    .site-footer .subscribe-form-wrapper .subscribe-btn {
        padding: 8px;
        font-size: 14px;
    }

    .site-footer .subscribe-form-wrapper .input-wrapper {
        padding: 5px 7px 5px 5px;
    }

    .site-footer .footer-bottom-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }


    /* Home banner */
    .home-banner-sec .banner-content {
        padding: 30px 15px;
    }

    /* about us */
    .car-about-sec .photo-about-dtl li {
        max-width: 100%;
    }
    /* car service sec */
    .car-service-sec .service-card-content{
        width: 100%;
    }
    /* testimonial sec */
    .testimonial-card-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .testi-content .star-img{
      margin: 0 auto;
      margin-top: 10px;
    }
    /* appointment-sec */
    .appointment-sec .tabs{
        gap: 10px;
    }
    .steps ul li span {
        width: 20px;
        height: 20px;
    }
    .appointment-sec .tabs li a {
        padding: 0px 0px 5px;
        font-size: 12px;
    }
    .steps ul li {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        flex: 1;
        font-size: 12px;
    }
    .steps ul li:not(:last-of-type) {
        padding-left: 10px;
    }
    .steps ul{
        align-items: flex-start;
    }
    .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
    }
     /* contact - us */
    .contact-us .contact-form .form-container{
        padding: 15px;
    }
    .contact-right-inner .section-title{
        margin-bottom: 20px;
    }
    .working-hrs-wrp ul li {
        max-width: calc(50% - 10px);
    }

}

@media screen and (max-width: 375px) {

    .appointment-sec .checkbox-custom label {
        font-size: 13px;
        padding: 10px;
    }
}
