@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--first-font);
        --h4: normal 600 20px/1.2 var(--first-font);
        --h5: normal 600 18px/1.2 var(--first-font);
        --h6: normal 600 16px/1.2 var(--first-font);
    }

    /* form-one css */
    .form-one .appointment-sec .form-steps-left,
    .form-one .appointment-sec .appointment-wrp {
        padding: 15px;
    }

    .appointment-sec .checkbox-custom label {
        padding: 12px 15px;
    }

}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--first-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    /* form-one css */
    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .form-one .appointment-sec .tabs li a {
        font-size: 12px;
        padding: 8px 10px;
    }

    .appointment-sec .tabs {
        gap: 15px;
    }

    /* table-responsive */
    .cartTable-responsive {
        overflow-x: scroll;
    }

}

@media screen and (max-width: 767px) {

    .section-title {
        margin-bottom: 20px;
    }

    /* form-one css */
    .form-one .steps ul {
        flex-direction: row;
        gap: 10px;
        max-width: fit-content;
        margin: 0 auto;
        flex-wrap: nowrap;
        justify-content: normal;
    }

    .form-one .steps ul li:not(:last-of-type) {
        padding: 0;
    }

    .form-one .steps ul li:not(:last-of-type)::after {
        display: none;
    }

    .form-one .appointment-sec .form-steps-left .section-title {
        text-align: center;
    }

    .form-one .appointment-sec .myContainer {
        margin-top: 20px;
    }

    .payment-method-form .radio-group label img {
        max-width: 30px;
    }

    .form-one .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
    }

    .form-one .appointment-sec .tabs li a {
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 0 0 10px;
        border-bottom: 1px solid transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}

    .form-one .appointment-sec .tabs li.active a {
        color: var(--theme-color);
        background-color: transparent;
    }

    .form-one .appointment-sec .tabs {
        border-bottom: 1px solid var(--border-color);
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }

    .form-one .appointment-sec .appointment-wrp {
        justify-content: start;
        height: auto;
    }

    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }
/*     
    .form-one .steps ul li span {
        height: 20px;
        width: 20px;
    } */
    .form-one .steps ul li{
        padding-left: 20px !important;
    }
    .form-one .steps ul li::before{
        width: 12px;
        height: 12px;
        top: 3px;
    }
    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .appointment-sec .steps {
        overflow-x: auto;
        padding: 0 0 15px;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--first-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .form-one .appointment-sec .tabs li a {
        padding: 0 0 5px;
    }

    .form-one .appointment-sec .tabs {
        gap: 5px;
    }

    .form-one .steps ul li {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        flex: 1;
        gap: 5px;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.2px;
    }

    .form-one .appointment-sec .form-steps-left {
        padding: 10px;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }

    /* step-buttons css */
    .appointment-sec .Shoppint-Cart .step-btns {
        flex-direction: column;
    }
    .form-one .steps ul li{
        padding-left: 0px !important;
        padding-top: 20px !important;
    }
    .form-one .steps ul li::before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

}

