@media screen and (max-width: 1399px) {

    /* table-responsive */
    .cartTable-responsive {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--first-font);
        --h4: normal 600 20px/1.2 var(--first-font);
        --h5: normal 600 18px/1.2 var(--first-font);
        --h6: normal 600 16px/1.2 var(--first-font);
    }

    /* form-one css */
    .form-one .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .form-one .form-right {
        padding: 15px;
    }

    .form-one .radio-group label::before,
    .form-one .radio-group label::after {
        right: 15px;
    }

}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--first-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    /* form-one css */
    .form-one .steps ul li span {
        height: 40px;
        width: 40px;
    }

    .form-one .steps ul li span::before {
        top: 90%;
    }

    .form-one .steps ul li span svg {
        height: 20px;
        width: 20px;
    }

}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 20px;
    }

    .payment-method-form .radio-group label .radio-img {
        max-width: 30px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }

    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }

    /* form-one css */
    .form-one .appointment-sec .appointment-wrp {
        min-height: 450px;
    }

    .form-one .appointment-sec .tabs {
        justify-content: center;
        gap: 10px;
    }

    .form-one .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
    }

    .form-one .appointment-sec .tabs li {
        font-size: 14px;
    }

    .form-one .form-right {
        height: auto;
    }

    .form-one .appointment-sec .steps {
        margin-bottom: 20px;
    }

    .form-one .form-image {
        display: none;
    }

    .form-one .appointment-sec .section-title {
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--first-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }

    /* form-one css */
    .form-one .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .form-one .appointment-sec .tabs li {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .form-one .steps ul {
        align-items: baseline;
    }

    .form-one .steps ul li {
        gap: 10px;
        font-size: 12px;
        flex: 1;
        text-align: center;
    }

    .form-one .steps ul li span {
        height: 30px;
        width: 30px;
    }

    .form-one .steps ul li span svg {
        height: 16px;
        width: 16px;
    }
}