@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--first-font);
        --h4: normal 600 20px/1.2 var(--first-font);
        --h5: normal 600 18px/1.2 var(--first-font);
        --h6: normal 600 16px/1.2 var(--first-font);
    }

    /* form-one css */
    .form-one .form-inner {
        max-width: 100%;
    }

    .form-one .steps {
        max-width: 280px;
    }

    .form-one .steps ul li {
        padding: 10px 0 10px 30px;
    }
}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--first-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }
    .appointment-sec .tabs {
        gap: 15px;
    }

    /* form-one css */
    .form-one .steps {
        max-width: 220px;
    }

    .form-one .steps ul li {
        padding: 10px 0 10px 20px;
        font-size: 14px;
    }

    .form-one .steps ul li svg {
        height: 22px;
        width: 22px;
    }

    .form-one .appointment-sec .appointment-wrp {
        padding: 15px 15px 15px 30px;
    }

    .form-one .appointment-sec .tabs {
        gap: 10px;
        margin-bottom: 20px;
    }

    .form-one .appointment-sec .tabs li a {
        gap: 5px;
    }

    .form-one .appointment-sec .appointment-wrp {
        min-height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 20px;
    }

    .payment-method-form .radio-group label .radio-img {
        max-width: 30px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }
    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }
    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }

    /* form-one css */
    .form-one .offset-right {
        padding: 0 15px;
    }

    .form-one .appointment-sec::before {
        display: none;
    }

    .form-one .appointment-sec .section-title {
        text-align: center;
    }

    .form-one .steps {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .form-one .steps ul {
        flex-direction: row;
    }

    .form-one .steps ul li {
        width: auto;
        padding: 0;
        flex-direction: column-reverse;
    }

    .form-one .steps ul li.active {
        background-color: transparent;
    }

    .form-one .steps ul li .number {
        margin-right: 0;
        height: 25px;
        width: 25px;
    }

    .form-one .steps ul li.active::before,
    .form-one .steps ul li.active::after {
        display: none;
    }

    .form-one .appointment-sec .appointment-wrp {
        padding: 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .form-one .appointment-sec .tabs li span {
        height: 25px;
        width: 25px;
    }

    .form-one .steps ul li svg {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--first-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }
    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    /* form-one css */
    .form-one .appointment-sec .appointment-wrp {
        min-height: 510px;
    }

    .form-one .appointment-sec .appointment-form .form-group {
        flex-direction: column;
        align-items: start;
        gap: 0;
    }

    .form-one .appointment-sec .appointment-form .form-group label {
        max-width: 100%;
        text-align: start;
    }

    .form-one .steps ul {
        gap: 5px;
    }

    .form-one .steps ul li {
        flex: 1;
        text-align: center;
        font-size: 12px;
        gap: 5px;
        font-weight: 500;
    }

    .form-one .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 50%;
    }

    .form-one .appointment-sec .tabs li a {
        flex-direction: column;
        font-size: 12px;
    }

    .form-one .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
    }
}