@media screen and (max-width: 1600px) {

    /***** form seven css *******/
    .form-one .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

}

@media screen and (max-width: 1399px) {

    /* table-responsive */
    .cartTable-responsive {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--first-font);
        --h4: normal 600 20px/1.2 var(--first-font);
        --h5: normal 600 18px/1.2 var(--first-font);
        --h6: normal 600 16px/1.2 var(--first-font);
    }

    /***** form seven css  ********/
    .form-one .form-left-inner .section-title {
        max-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--first-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .appointment-sec .tabs {
        gap: 15px;
    }

    /********  form seven css  *********/
    .form-one .book-now {
        display: none;
    }

    .form-one .form-left-inner {
        margin-bottom: 20px;
    }

    .form-one .form-box {
        padding: 40px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 20px;
    }

    .payment-method-form .radio-group label .radio-img {
        max-width: 30px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }

    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }

    /******** formn seven css  *******/
    .form-one .appointment-sec .form-box .appointment-wrp {
        padding: 30px 0 0 0;
    }

    .form-one .form-box {
        padding: 15px;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--first-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }

    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    /********** form seven  css  *********/
    .form-one .appointment-sec .form-box .appointment-wrp {
        padding: 20px 0 0 0;
    }

    .form-one .form-left-inner img {
        display: none;
    }

    .form-one .appointment-wrp.tab-wrp .tabs {
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }

    .form-one .appointment-wrp.tab-wrp .tabs li a {
        font-size: 12px;
    }

    .form-one .form-box .steps ul li span {
        width: 30px;
        height: 30px;
    }

    .form-one .form-box .steps ul li span svg {
        height: 20px;
        width: 20px;
    }

    .form-one .form-box .steps ul li {
        font-size: 12px;
    }

    .form-one .form-left-inner .form-info li a {
        font-size: 14px;
    }

    .form-one .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .form-one .form-left-inner .form-info li a span {
        width: 30px;
        height: 30px;
    }

    .form-one .form-left-inner .form-info li a span svg {
        width: 18px;
        height: 18px;
    }
}