
@media screen and (max-width: 1199px) {
    :root {
        --h1: normal 600 40px/1.2 var(--first-font);
        --h2: normal 600 32px/1.2 var(--first-font);
        --h3: normal 600 26px/1.2 var(--second-font);
        --h4: normal 600 20px/1.2 var(--second-font);
        --h5: normal 600 18px/1.2 var(--second-font);
        --h6: normal 600 16px/1.2 var(--second-font);
    }

    /* form ten css */
    .form-one .steps ul li:not(:last-of-type) {
        padding-right: 100px;
    }

    .form-one .steps ul li:not(:last-of-type)::after {
        width: 100px;
    }
}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 600 34px/1.2 var(--first-font);
        --h2: normal 600 28px/1.2 var(--first-font);
        --h3: normal 600 22px/1.2 var(--second-font);
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .appointment-sec .tabs {
        gap: 15px;
    }

    /* form ten css */
    .form-one .steps ul li span {
        padding: 10px 20px;
    }

    .form-one .steps ul li:not(:last-of-type) {
        padding-right: 40px;
    }

    .form-one .steps ul li:not(:last-of-type)::after {
        width: 40px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 20px;
    }

    .payment-method-form .radio-group label .radio-img {
        max-width: 30px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        justify-content: center;
    }

    .form-group label {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .payment-method-form .radio-group {
        margin-bottom: 15px;
    }

    /* form ten css */
    .form-one .appointment-sec .form-inner {
        padding: 15px;
    }

    .form-one .appointment-sec .step-btns {
        margin-top: 0;
    }

    .form-one .steps ul li span {
        background: none;
        padding: 0;
    }

    .form-one .steps ul li.active span {
        background: none;
        color: var(--theme-color);
    }

    .form-one .steps ul li:not(:last-of-type)::after {
        display: none;
    }

    .form-one .appointment-sec .tabs {
        gap: 15px;
    }

    .form-one .steps ul li:not(:last-of-type) {
        padding-right: 0;
    }

    .form-one .steps {
        margin-bottom: 20px;
    }

    .form-one .steps ul {
        gap: 5px 15px;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 600 32px/1.2 var(--first-font);
        --h2: normal 600 24px/1.2 var(--first-font);
        --h3: normal 600 20px/1.2 var(--second-font);
    }

    .appointment-sec .checkbox-custom label svg {
        display: none;
    }

    .appointment-sec .appointment-wrp h3 {
        text-align: center;
    }

    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    /* form ten css */
    .form-one .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
        font-size: 12px;
    }

    .form-one .appointment-sec .tabs {
        gap: 10px;
    }
}